* {
  margin: 0;
  box-sizing: border-box;
}

.MuiTypography-body1 {
  line-height: 2 !important;
}

.MuiTypography-body2 {
  line-height: 2 !important;
}

a {
  text-decoration: none;
  color: #1976d2;
}
a:hover {
  text-decoration: underline;
}

